<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<sly data-sly-use.carousel="com.aem.sumit.core.models.CaapContent">
    <input class="dialog" type = "hidden" value="${carousel.allItem}">
</sly>
<div class="slider">

 <ul class="desktop">
 <li > 
 <div class="flex-container">
  <div id="carouselIndicators1">
  <div class="carousel-inner">
     <div class="row">

     </div>
    </div>
  </div>  
  </div>
 </li>
 <li> 
 <div class="flex-container">
 <div id="carouselIndicators2">
  <div class="carousel-inner">
     <div class="row">

     </div>
    </div>
  </div>  
 </div>
 </li>
  </ul>

  <a href="#0" class="next control">Next</a>
  <a href="#0" class="prev control">Prev</a>

</div>
<div class="slidermobile">

    <a href="#0" class="next1 control">Next</a>
    <a href="#0" class="prev1 control">Prev</a>


    <ul class="mobile">
        
    </ul>

</div>