<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='caap.carousel'}"/>
</sly>

<sly
        data-sly-use.caap="com.aem.sumit.core.models.CaapContent"
        data-sly-use.template="core/wcm/components/commons/v1/templates.html"
        data-sly-test.name="${caap.carouselTag}">
    <sly data-sly-use.desktopTemplate = "carousel-desktop.html">
        <sly data-sly-call="${desktopTemplate.caapDesktop @ caapObj=caap}"/>
    </sly>
</sly>
<sly data-sly-call="${template.placeholder @ isEmpty=!name, classAppend='cmp-aemgeek'}"></sly>

