.stride {

 .cmp-button {
     float: right;
     padding: 9px;
     margin-top: 14px;
     margin-right: 90px;
     color: blue;
     background-color: white;
     border: 1px solid blue;
     border-radius: 3px;
 }
 .cmp-image__image {
    margin-top: 14px;
 }

}